header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 100%; /* Full width of the page */
}

/* Header content */

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.header-content h1 {
    flex-grow: 1;
    text-align: center;
}

header-image {
    margin-left: auto;
}

/* Navigation menu */

nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    width: 100%;
    padding: 10px 0;
}

nav-menu ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav-menu li {
    margin: 0 12px;
}

/* Main content */

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    background-color: green;
}

.welcome-section {
    background-color: white;
    padding: 20px;
    background-color: greenyellow;
}

.welcome-section h2 {
    margin-top: 0;
    text-align: center;
}

.photos-section {
    background-color: white;
    padding: 20px; 
    background-color: greenyellow;
}

.photos-section h2 {
    margin-top: 0;
    text-align: center;
}

.photos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.photos-grid img {
    height: auto;
    width: 100%;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 100%;
    padding: 10px 0;
}